body {
  background-color: #e6e6e6;
  text-align: center;
}

div #logo {
  text-align: center;
  overflow: auto;
  width:90%;
  margin: 0 auto;
}

#logo img {
  width: 100px;
  height: 100px;
  float: left;
}

#logo h1 {
  float: left;
  font-size: 72px;
  margin-left: 10px;
  right: 0px;
  bottom: 10px;
  color: black;
}

#nav-wrapper {
  height: 40px;
  background-color: #0b1d82;
  padding: 3px 0; /*adjust this to fix vertical alignment/centering*/
  text-align: center;
  font-size: 24px;
}

#nav-wrapper a {
  color: white;
  font-weight: bold;
  padding: 0px 25px;
}

#nav-wrapper a:hover{
  color: black;
  text-decoration: none;
}

.content-wrapper {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  background: white;
  position: relative;
}

#index-header {
  font-size: 48px;
}

.highlight-date-wrapper {
  width: 600px;
  margin: 0 auto;
  background: #0b1d82;
  position: relative;
}

.highlight-date-wrapper h2 {
  color: white;
}

.highlight-details {
  width: 600px;
  margin: 0 auto;
  position: relative;
  text-align: left;
}

table {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}


th, td {
    padding: 15px;
    border-bottom: 2px solid #ddd;
    text-align: center;
}

tr:hover {background-color: #f5f5f5}

img.team-page {
  width: 100px;
  height: 100px;
  margin-top: 20px;
}

footer {
  height: 40px;
}
