<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to Goal Highlights v0!</h1>
    <p>Page content tbd. For now, just check out the <a href="/highlights">highlights</a>.</p>
  </body>
</html>
