<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Goal Highlights</title>
  </head>
  <body>
    <h1>Welcome to Goal Highlights v0!</h1>
    <a href="/players">Players</a>
  </body>
</html>
