<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to Soccer Goal Highlights</title>
  </head>
  <body>
    <div class="content-wrapper">
      <h1>Welcome to Soccer Goal Highlights v0!</h1>
      <p>Page content tbd. For now, just check out the <a href="/highlights">highlights</a>.</p>
    </div><!-- content-wrapper -->
  </body>
</html>
