<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <center>
    <h1>Highlights</h1>
    <% @highlights.each do |highlight| %>
      <h3><%= highlight.title %></h3>
      <%= highlight.clean_media_embed %>
      <br>
      <a href=<%= highlight.url %> target="_blank">View Source Media</a> |
      <a href=<%= "http://www.reddit.com" + highlight.permalink %> target="_blank">View Reddit Post</a>
    <% end %>
    </center>
  </body>
</html>
